<div class="post-list">
    <h2>Posts</h2>
  
    <div *ngFor="let post of posts" class="post-card">
      <img [src]="post.image_path" alt="Post Image" class="post-image">
      <div class="post-details">
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-content">{{ post.content }}</p>
        <div class="post-meta">
          <span class="post-date">Date: {{ post.date | date:'shortDate' }}</span>
          <span class="post-rating">Rating: {{ post.rating }}</span>
        </div>
      </div>
    </div>
  </div>
  