

.post-list {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f4f4f4; 
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333; 
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  border: 1px solid #eaeaea; 
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease; 
}

.post-card:hover {
  transform: translateY(-5px); 
}

.post-image {
  padding-top: 50px;
  width: auto;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #eaeaea; 
}

.post-details {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.post-title {
  font-size: 1.4em;
  margin-bottom: 15px;
  font-weight: 600; 
  color: #333;
}

.post-content {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555; 
}
.post-meta {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 15px 20px; 
  background-color: #f4f4f4;  
  border-top: 1px solid #f4f4f4;
}

.post-date,
.post-rating {
  font-size: 1em;
  color: #777; 
  margin-bottom: 10px; 
}

.post-rating {
  font-size: 1.1em; 
  font-weight: bold;
  color: #ff4500; 
}
.post-form {
  margin-top: 20px;
}

.btn {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}